<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles.css" type="text/css"/>
        <title>Add your clothes</title>
    </head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        <div style="display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 80vh;">
            <h1>Clothes Form</h1>
            <form action="/clothesForm" th:object="${clothe}"  method="POST">
                <div th:if="${#fields.hasErrors()}" class="alert alert-warning">
                    <span> Please correct the problems below and resubmit. </span>
                </div>

                <div class="name-section">
                    <label for="clotheName" class="form-label">Name:</label>
                    <input type="text" class="form-control" th:field="*{name}">
                    <div class="validationError alert alert-danger"
                         id="clotheName"
                         th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"
                    > Name Error
                    </div>
                </div>

                <div class="brand-section">
                    <label for="brand" class="form-label">Brand:</label>
                    <select th:field="*{brand}" id="brand" class="form-select" aria-label="Brand" >
                        <option
                                th:each="type: ${brandTypes}"
                                th:value="${type.title}"
                                th:text="${type.title}"
                        />
                    </select>
                </div>

                <div class="establishment-year">
                    <label for="establishmentYear" class="form-label">Establishment Year:</label>
                    <input type="number" class="form-control" th:field="*{establishmentYear}">
                    <div class="validationError alert alert-danger"
                         id="establishmentYear"
                         th:if="${#fields.hasErrors('establishmentYear')}"
                         th:errors="*{establishmentYear}"
                    > Establishment Year Error
                    </div>
                </div>

                <div class="price-section">
                    <label for="price" class="form-label">Price:</label>
                    <input
                            type="number"
                            step="0.1"
                            th:field="*{price}"
                            class="form-control"
                            id="price"
                    />
                    <div class="validationError alert alert-danger"
                         th:if="${#fields.hasErrors('price')}"
                         th:errors="*{price}"
                    > Price Error
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-5">Add Clothe Item</button>

            </form>
        </div>
        </div>
        <div class="footer" th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>