<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Check out your clothes</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles.css" type="text/css"/>
    </head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        <div class="container">
            <h1 class="container center-item">Clothes Store</h1>
            <!-- Clothes List -->
            <div class="d-flex flex-row mb-3">
                <div class="card-columns ms-3 me-3" th:each="clothe: ${clothes}" style="min-width: 200px">
                    <div>
                        <div style="display:flex;  flex-direction: row; justify-content: space-between">
                            <div class="clothe-details">
                                <h5 class="card-title" th:text="${clothe.name}"></h5>
                                <h6 class="card-subtitle mb-2 text-muted" th:text="|Brand: ${clothe.brand}|"></h6>
                                <h6 class="card-subtitle mb-2 text-muted" th:text="|Establishment Year: ${clothe.establishmentYear}|"></h6>
                                <h6 class="card-subtitle mb-2 text-muted" th:text="|Price: $ ${clothe.price}|"></h6>
                            </div>
                            <div class="clothes-delete-btn" style="">
                                <form method="POST" th:action="@{/clothesList/deleteCloth}" th:object="${clothe}">
                                <input type="hidden" name="clothId" th:value="${clothe.id}" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                            <p th:text="${errorMessage}"></p>
                        </div>
                    </div>
                </div>
            </div>

                <!-- Filter By Brand Form -->
            <form class="mt-3" method="POST" th:action="@{/clothesList/filterByBrand}" th:object="${clothesByBrandDate}">
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                    <div class="brand-section">
                        <div style=" display:flex;flex-direction: row;justify-content: center;align-items: center;">
                            <label for="brand" class="form-label">Brand:</label>
                            <select th:field="*{brand}" id="brand" class="form-select" aria-label="Brand" >
                                <option
                                        th:each="type: ${brandTypes}"
                                        th:value="${type.title}"
                                        th:text="${type.title}"
                                />
                            </select>
                        </div>
                    </div>
                        <button style="margin-left: 50px;" class="button-section btn btn-primary" name="brandFilter"> Search By Brand </button>
                    </div>
                </form>

                <!-- Sort By Brand Form -->
                <div style="display:flex;flex-direction: row;justify-content: center;align-items: center;">
                    <form class="mt-3" method="POST" th:action="@{/clothesList/sortByBrand}" th:object="${clothes}">
                        <button class="button-section btn btn-secondary" name="brandSorted"> Sort By Brand </button>
                    </form>
                </div>
            </div>

                <!-- Pagination -->
            <div style="display:flex;flex-direction: row;justify-content: center;align-items: center;">
                <ul class="pagination mt-5">
                        <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/clothesList/switchPage(pageToSwitch=${currentPage - 1})}">Previous</a>
                        </li>
                        <li
                            class="page-item"
                            th:classappend="${currentPage + 1 eq page} ? 'active' : 'not'"
                            th:each="page: ${#numbers.sequence(1, totalPages)}"
                        >
                            <a class="page-link" th:text="${page}" th:href="@{/clothesList/switchPage(pageToSwitch=${page - 1})}" />
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}"><a class="page-link" th:href="@{/clothesList/switchPage(pageToSwitch=${currentPage + 1})}">Next</a></li>
                    </ul>
            </div>
        </div>
        <div class="footer" th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>